beautifulsoup4==4.9.3
patool==1.12
pdf2image==1.14.0
pipenv==2022.1.8
pure-python-adb==0.3.0.dev0
python-telegram-bot==13.1
python3-nmap==1.5.0
PyYAML==5.4
requests==2.25.1
SQLAlchemy==1.3.22
virtualenv==20.2.2
virtualenv-clone==0.5.4
xmltodict==0.12.0
zipp==3.4.0
